# pip install -r requirements.txt
# устанавливать браузер в папку с проектом, чтобы система не удаляла его при чистке кешей
# PLAYWRIGHT_BROWSERS_PATH=/opt/school_schedule_v2_bot/pw-browsers playwright install chromium --with-deps
# установить шрифт Inter sudo apt install fonts-inter # без него будет DejaVu Sans
# Скачайте зафиксированную версию HTMX
# curl -L -o web/static/js/htmx.min.js https://unpkg.com/htmx.org@2.0.4/dist/htmx.min.js
aiogram==3.31.0
aiohttp==3.14.3
aiosqlite==0.22.1
APScheduler==3.11.3
python-dotenv==1.2.3
jinja2==3.1.6
playwright==1.63.0
Pillow==12.3.0
fastapi>=0.115
uvicorn>=0.30