{# web/templates/school/day.html #}
{# День расписания school-сущности: класс / преподаватель / кабинет. #}

{% extends "base.html" %}

{% set nav = "school" %}

{% block title %}
  {{ item_title }}
{% endblock %}

{% block header %}
  <span class="header-title__main">
    Расписание
  </span>

  {% if day.header_context %}
  <span
    class="header-title__context"
    title="{{ day.header_context }}"
  >
    {{ day.header_context }}
  </span>
  {% endif %}
{% endblock %}

{% block content %}
  <div
    class="day-swipe-stage"
    data-day-swipe-stage
  >
    {% include "school/_day_content.html" %}
    {% include "components/schedule/swipe_neighbor.html" %}
  </div>
{% endblock %}

{% block extra_scripts %}
<script src="/static/js/schedule.js?v=12"></script>
{% endblock %}