{# web/templates/school/free_rooms.html #}
{#
  Свободные кабинеты: полная страница.
  найти баг с возвратом обратно к списку свободных кабинетов после просмотра свободных кабинетов
#}
{% extends "base.html" %}
{% from "components/ui/icon.html" import icon %}

{% set nav = "school" %}
{% block title %}Свободные кабинеты{% endblock %}

{% block header %}
<span>
  {{ icon("door-open-duotone") }} Свободные кабинеты
</span>
{% endblock %}

{% block content %}
  {% include "school/_free_rooms_content.html" %}
{% endblock %}